@model IEnumerable<PhotoAlbum.Models.Album>

@{
    ViewData["Title"] = "Albums";
}

<div class="list-names">
    <div class="container">

        <p>
            <a class="btn-floating btn-small waves-effect waves-light create modal-trigger" data-target="modal1"><i class="material-icons">add</i></a>
        </p>
        <table class="table striped highlight hover responsive-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Place)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Place)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn-floating btn-small blue darken-2 waves-effect waves-light"><i class="material-icons">create</i></a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn-floating btn-small yellow darken-4 waves-effect waves-light"><i class="material-icons">remove_red_eye</i></a>
                            <a class="btn-floating btn-small red darken-2 waves-effect waves-light delete modal-trigger" data-target="modalDel" onclick="Delete(@item.Id)")><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="modal1" class="modal">
    <partial name="_Create" model="new Album()" />
</div>

<div id="modalDel" class="modal">
    <div class="modal-content">
        <h4>Confirmar exclusão</h4>
        <p>Deseja prosseguir com a exclusão?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-light btn-small red darken-3 btn-floating"><i class="material-icons">close</i></a>
        <a class="modal-close waves-effect waves-light btn-small green darken-3 btn-floating btnConf"><i class="material-icons">check</i></a>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $(function () {
            $(".create").click(function () {
                $("#modal1").modal();
            })
        });

 function Delete(id) {
        $(".modal").modal();
        $(".btnConf").on('click', function () {
            $.ajax({
                url: '/Albums/Delete',
                type: 'POST',
                data: { id: id },
                success: function () {
                    location.reload();
                    $(".modal").modal('close');
                }
            })
        });
    }

        $(document).ready(function () {
        $("#load").hide();

        $('.datepicker').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                defaultDate: new Date(),
                setDefaultDate: true,
                disableWeekends: false,
                showDaysInNextAndPreviousMonths: true,
                showMonthAfterYear: true,
                firstDay: 0,
                container: 'body',
                showClearBtn: true,
                i18n: {
                    cancel: 'Cancelar',
                    clear: 'Limpar',
                    done: 'Ok',
                    previousMonth: '‹',
                    nextMonth: '›',
                    months: [
                        'Janeiro',
                        'Fevereiro',
                        'Março',
                        'Abril',
                        'Maio',
                        'Junho',
                        'Julho',
                        'Agosto',
                        'Setembro',
                        'Outubro',
                        'Novembro',
                        'Dezembro'
                    ],

                    monthsShort: [
                        'Jan',
                        'Fev',
                        'Mar',
                        'Abr',
                        'Mai',
                        'Jun',
                        'Jul',
                        'Ago',
                        'Set',
                        'Out',
                        'Nov',
                        'Dez'
                    ],

                    weekdays: [
                        'Domingo',
                        'Segunda-feira',
                        'Terça-feira',
                        'Quarta-feira',
                        'Quinta-feira',
                        'Sexta-feira',
                        'Sábado'
                    ],

                    weekdaysShort: [
                        'Dom',
                        'Seg',
                        'Ter',
                        'Qua',
                        'Qui',
                        'Sex',
                        'Sab'
                    ],

                    weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S']
                }

            });
        })
    function LoadImg(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                $(".img").show();
                reader.onload = function (e) {
                    $(".img").attr('src', e.target.result).width(100).height(100);
                }
            }
            reader.readAsDataURL(input.files[0]);
        }
    </script>
}
